In [49]:
import pandas as pd
import numpy as np

In [50]:
csv_path = "movies.csv"
movies = pd.read_csv(csv_path, encoding = "ISO-8859-1")
#movies.head(3)

In [51]:
movies = movies.rename(columns={"name": "film"})
#movies.head(3)

# Oscar Csv

In [52]:
csv_path = "the_oscar_award.csv"
oscars = pd.read_csv(csv_path, encoding = "ISO-8859-1")
oscars = oscars[["category", "name", "film", "winner"]]
oscars.head(3)

  category                 name              film  winner
0    ACTOR  Richard Barthelmess         The Noose   False
1    ACTOR        Emil Jannings  The Last Command    True
2  ACTRESS       Louise Dresser   A Ship Comes In   False

In [53]:
oscars_cleaned = oscars.loc[(oscars['winner'] == True)]
oscars_cleaned.head(3)

        category                     name              film  winner
1          ACTOR            Emil Jannings  The Last Command    True
3        ACTRESS             Janet Gaynor        7th Heaven    True
6  ART DIRECTION  William Cameron Menzies         The Dove;    True

# Combining Movies And Awards

In [54]:
combined_df = pd.merge(movies, oscars_cleaned, how="right", on = "film")
combined_df.head(3)

,budget,company,country,director,genre,gross,film,rating,released,runtime,score,star,votes,writer,year,Unnamed: 15,category,name,winner
0,0.0,Little Bear,USA,Bertrand Tavernier,Drama,3272600.0,'Round Midnight,R,1/17/86,133.0,7.4,Dexter Gordon,4028.0,David Rayfiel,1986.0,NaN,MUSIC (Original Score),Herbie Hancock,True
1,20000000.0,Regency Enterprises,USA,Steve McQueen,Biography,56671993.0,12 Years a Slave,R,2/21/86,134.0,8.1,Chiwetel Ejiofor,503763.0,John Ridley,2013.0,NaN,ACTRESS IN A SUPPORTING ROLE,Lupita Nyong'o,True
2,20000000.0,Regency Enterprises,USA,Steve McQueen,Biography,56671993.0,12 Years a Slave,R,2/21/86,134.0,8.1,Chiwetel Ejiofor,503763.0,John Ridley,2013.0,NaN,BEST PICTURE,"Brad Pitt, Dede Gardner, Jeremy Kleiner, Steve...",True

# Chaning Header Names

In [55]:
combined_df = combined_df.rename(columns = {"category": "Oscar Winning Category", "name":"Oscar Winner", 'winner': 'winner'})
#combined_df.head(5)

In [56]:
#combined_df = combined_df.drop("winner", axis = 1)
#combined_df.head(5)

In [57]:
combined_df.to_csv('movies&oscars.csv')

# Counting Awards and Nominations

In [58]:
nomination = oscars['film'].value_counts()
nomination
nomination = pd.DataFrame(nomination)
nomination = nomination.reset_index()
nomination = nomination.rename(columns = {"index":"film", "film":"Oscar Nominations"})
nomination.head(3)

                   film  Oscar Nominations
0        A Star Is Born                 25
1  Mutiny on the Bounty                 15
2          Moulin Rouge                 15

In [59]:
count = combined_df['film'].value_counts()
counts = pd.DataFrame(count)
counts.reset_index()
counts = counts.reset_index()
counts = counts.rename(columns = {"index":"film", 'film': "Oscar Award Count"})
counts.head(3)

                                            film  Oscar Award Count
0                                        Titanic                 11
1  The Lord of the Rings: The Return of the King                 11
2                                        Ben-Hur                 11

In [60]:
combo_df = pd.merge(movies, counts, how="left", on = "film")
combo_df.head(5)

,budget,company,country,director,genre,gross,film,rating,released,runtime,score,star,votes,writer,year,Unnamed: 15,Oscar Award Count
0,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,1987,79,7.1,Elijah Wood,117268,Pamela Pettler,2009,NaN,NaN
1,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,1988,123,6.8,Jim Sturgess,201705,Peter Steinfeld,2008,NaN,NaN
2,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,1994,102,5.0,Malcolm McDowell,11945,Rob Zombie,2016,NaN,NaN
3,40000000,Warner Bros.,USA,Brian Helgeland,Biography,95001343,42,PG-13,1995,128,7.5,Chadwick Boseman,71006,Brian Helgeland,2013,NaN,NaN
4,13000000,Dollface,USA,Mark Christopher,Drama,16574731,54,R,1999,93,5.8,Ryan Phillippe,28791,Mark Christopher,1998,NaN,NaN

In [61]:
noms_df = pd.merge(combo_df, nomination, how="left", on = "film")
noms_df.head(3)

,budget,company,country,director,genre,gross,film,rating,released,runtime,score,star,votes,writer,year,Unnamed: 15,Oscar Award Count,Oscar Nominations
0,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,1987,79,7.1,Elijah Wood,117268,Pamela Pettler,2009,NaN,NaN,1.0
1,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,1988,123,6.8,Jim Sturgess,201705,Peter Steinfeld,2008,NaN,NaN,NaN
2,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,1994,102,5.0,Malcolm McDowell,11945,Rob Zombie,2016,NaN,NaN,NaN

In [62]:
noms_df = noms_df.drop_duplicates()

# Average Score per Star Actor

In [63]:
actors = noms_df[['star', 'score']]
actors_df = pd.DataFrame(actors)
actors_df

                  star  score
0          Elijah Wood    7.1
1         Jim Sturgess    6.8
2     Malcolm McDowell    5.0
3     Chadwick Boseman    7.5
4       Ryan Phillippe    5.8
...                ...    ...
6815       Kevin James    5.2
6816       Ben Stiller    6.6
6817       Ben Stiller    4.7
6818         Tim Allen    4.3
6819  Ginnifer Goodwin    8.0

[6820 rows x 2 columns]

In [64]:
actor_avg_rating = actors.groupby('star').mean()
actor_avg_rating

                        score
star
'Weird Al' Yankovic  7.000000
50 Cent              5.100000
A.J. Cook            6.200000
Aaliyah              5.300000
Aamir Khan           8.044444
...                       ...
Zoey Deutch          5.950000
Zooey Deschanel      7.300000
Álex Angulo          7.500000
Élodie Bouchez       7.600000
Émilie Dequenne      7.600000

[2504 rows x 1 columns]

In [65]:
cleaned_df = pd.merge(noms_df, actor_avg_rating, how="left", on = "star")
cleaned_df.head(5)

,budget,company,country,director,genre,gross,film,rating,released,runtime,score_x,star,votes,writer,year,Unnamed: 15,Oscar Award Count,Oscar Nominations,score_y
0,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,1987,79,7.1,Elijah Wood,117268,Pamela Pettler,2009,NaN,NaN,1.0,6.864286
1,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,1988,123,6.8,Jim Sturgess,201705,Peter Steinfeld,2008,NaN,NaN,NaN,6.875000
2,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,1994,102,5.0,Malcolm McDowell,11945,Rob Zombie,2016,NaN,NaN,NaN,5.900000
3,40000000,Warner Bros.,USA,Brian Helgeland,Biography,95001343,42,PG-13,1995,128,7.5,Chadwick Boseman,71006,Brian Helgeland,2013,NaN,NaN,NaN,7.500000
4,13000000,Dollface,USA,Mark Christopher,Drama,16574731,54,R,1999,93,5.8,Ryan Phillippe,28791,Mark Christopher,1998,NaN,NaN,NaN,6.440000

In [66]:
cleaned_df = cleaned_df.rename(columns ={'score_x': 'score', 'score_y': 'star avg score'})
cleaned_df.head(5)

,budget,company,country,director,genre,gross,film,rating,released,runtime,score,star,votes,writer,year,Unnamed: 15,Oscar Award Count,Oscar Nominations,star avg score
0,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,1987,79,7.1,Elijah Wood,117268,Pamela Pettler,2009,NaN,NaN,1.0,6.864286
1,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,1988,123,6.8,Jim Sturgess,201705,Peter Steinfeld,2008,NaN,NaN,NaN,6.875000
2,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,1994,102,5.0,Malcolm McDowell,11945,Rob Zombie,2016,NaN,NaN,NaN,5.900000
3,40000000,Warner Bros.,USA,Brian Helgeland,Biography,95001343,42,PG-13,1995,128,7.5,Chadwick Boseman,71006,Brian Helgeland,2013,NaN,NaN,NaN,7.500000
4,13000000,Dollface,USA,Mark Christopher,Drama,16574731,54,R,1999,93,5.8,Ryan Phillippe,28791,Mark Christopher,1998,NaN,NaN,NaN,6.440000

In [67]:
cleaned_df = cleaned_df.drop("Unnamed: 15", axis = 1)
cleaned_df1 = cleaned_df.drop_duplicates()
cleaned_df1.head()

,budget,company,country,director,genre,gross,film,rating,released,runtime,score,star,votes,writer,year,Oscar Award Count,Oscar Nominations,star avg score
0,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,1987,79,7.1,Elijah Wood,117268,Pamela Pettler,2009,NaN,1.0,6.864286
1,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,1988,123,6.8,Jim Sturgess,201705,Peter Steinfeld,2008,NaN,NaN,6.875000
2,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,1994,102,5.0,Malcolm McDowell,11945,Rob Zombie,2016,NaN,NaN,5.900000
3,40000000,Warner Bros.,USA,Brian Helgeland,Biography,95001343,42,PG-13,1995,128,7.5,Chadwick Boseman,71006,Brian Helgeland,2013,NaN,NaN,7.500000
4,13000000,Dollface,USA,Mark Christopher,Drama,16574731,54,R,1999,93,5.8,Ryan Phillippe,28791,Mark Christopher,1998,NaN,NaN,6.440000

In [68]:
cleaned_df1.to_csv('updated.csv')

# Adding Golden globes data

In [69]:
csv_path = "movies_cleaned.csv"
films = pd.read_csv(csv_path, encoding = "ISO-8859-1")
films.head(3)

,Unnamed: 0,budget,company,country,director,genre,gross,film,rating,released,runtime,score,star,votes,writer,year,ceremony,category,nominee,win
0,6387,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,9/9/09,79,7.1,Elijah Wood,117268,Pamela Pettler,2009,NaN,NaN,NaN,NaN
1,6085,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,3/28/08,123,6.8,Jim Sturgess,201705,Peter Steinfeld,2008,NaN,NaN,NaN,NaN
2,8417,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,9/16/16,102,5.0,Malcolm McDowell,11945,Rob Zombie,2016,NaN,NaN,NaN,NaN

In [70]:
films = films.drop("Unnamed: 0", axis = 1)
films_cleaned = films.drop_duplicates()

In [71]:
films_cleaned.to_csv('movies_cleaned.csv')

In [72]:
winners = films_cleaned.loc[films['win']==True]
wins = winners['film'].value_counts()
wins = pd.DataFrame(wins)
wins.reset_index()
wins = wins.reset_index()
wins = wins.rename(columns = {"index":"film","film": "Golden Globes Awards"})
wins

                                              film  Golden Globes Awards
0                                            Alice                     7
1                                       La La Land                     6
2                                     Working Girl                     3
3    The Lord of the Rings: The Return of the King                     3
4                               Brokeback Mountain                     3
..                                             ...                   ...
197                                       Taxi '04                     1
198                                          Glory                     1
199                                        Top Gun                     1
200                                  City Slickers                     1
201                       Children of a Lesser God                     1

[202 rows x 2 columns]

In [73]:
awards = pd.merge(cleaned_df, wins, how='left', on = 'film')
awards.head(3)

,budget,company,country,director,genre,gross,film,rating,released,runtime,score,star,votes,writer,year,Oscar Award Count,Oscar Nominations,star avg score,Golden Globes Awards
0,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,1987,79,7.1,Elijah Wood,117268,Pamela Pettler,2009,NaN,1.0,6.864286,NaN
1,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,1988,123,6.8,Jim Sturgess,201705,Peter Steinfeld,2008,NaN,NaN,6.875000,NaN
2,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,1994,102,5.0,Malcolm McDowell,11945,Rob Zombie,2016,NaN,NaN,5.900000,NaN

In [74]:
nm = films_cleaned.loc[films_cleaned['win'] != 'NaN']
nm = nm['film'].value_counts()
nm = pd.DataFrame(nm)
nm.reset_index()
nm = nm.reset_index()
nm = nm.rename(columns = {"index":"film","film": "Golden Globes Nominations"})
nm

               film  Golden Globes Nominations
0          Taxi '04                         20
1          Taxi '98                         20
2             Alice                         13
3             Fargo                         11
4             Weeds                          8
...             ...                        ...
6815    HouseSitter                          1
6816     The Matrix                          1
6817  Forever Young                          1
6818            F/X                          1
6819  Kill Me Again                          1

[6820 rows x 2 columns]

# Merging Golden Globe data and cleaning up DataFrame

In [75]:
gg = pd.merge(awards, nm, how='left', on = 'film')
gg.head(3)

,budget,company,country,director,genre,gross,film,rating,released,runtime,score,star,votes,writer,year,Oscar Award Count,Oscar Nominations,star avg score,Golden Globes Awards,Golden Globes Nominations
0,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,1987,79,7.1,Elijah Wood,117268,Pamela Pettler,2009,NaN,1.0,6.864286,NaN,1.0
1,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,1988,123,6.8,Jim Sturgess,201705,Peter Steinfeld,2008,NaN,NaN,6.875000,NaN,1.0
2,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,1994,102,5.0,Malcolm McDowell,11945,Rob Zombie,2016,NaN,NaN,5.900000,NaN,1.0

In [76]:
gg['Oscar Award Count'] = gg["Oscar Award Count"].fillna(0)
gg['Oscar Nominations'] = gg["Oscar Nominations"].fillna(0)
gg['Golden Globes Awards'] = gg["Golden Globes Awards"].fillna(0)
gg['Golden Globes Nominations'] = gg["Golden Globes Nominations"].fillna(0)

In [77]:
gg['Total Nominations']= (gg['Oscar Nominations'] + gg['Golden Globes Nominations'])
gg['Total Awards'] = (gg['Oscar Award Count'] + gg['Golden Globes Awards'])
gg.head(3)

,budget,company,country,director,genre,gross,film,rating,released,runtime,...,votes,writer,year,Oscar Award Count,Oscar Nominations,star avg score,Golden Globes Awards,Golden Globes Nominations,Total Nominations,Total Awards
0,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,1987,79,...,117268,Pamela Pettler,2009,0.0,1.0,6.864286,0.0,1.0,2.0,0.0
1,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,1988,123,...,201705,Peter Steinfeld,2008,0.0,0.0,6.875000,0.0,1.0,1.0,0.0
2,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,1994,102,...,11945,Rob Zombie,2016,0.0,0.0,5.900000,0.0,1.0,1.0,0.0

In [78]:
gg = gg.rename(columns = {'score': 'movie score'})
gg.head(3)

,budget,company,country,director,genre,gross,film,rating,released,runtime,...,votes,writer,year,Oscar Award Count,Oscar Nominations,star avg score,Golden Globes Awards,Golden Globes Nominations,Total Nominations,Total Awards
0,30000000,Focus Features,USA,Shane Acker,Animation,31743332,9,PG-13,1987,79,...,117268,Pamela Pettler,2009,0.0,1.0,6.864286,0.0,1.0,2.0,0.0
1,35000000,Columbia Pictures,USA,Robert Luketic,Crime,81159365,21,PG-13,1988,123,...,201705,Peter Steinfeld,2008,0.0,0.0,6.875000,0.0,1.0,1.0,0.0
2,1500000,Bow and Arrow Entertainment,UK,Rob Zombie,Horror,779820,31,R,1994,102,...,11945,Rob Zombie,2016,0.0,0.0,5.900000,0.0,1.0,1.0,0.0

In [79]:
gg.to_csv('final.csv')

In [81]:
queen = gg.loc[gg['film'] == "Gladiator '00"]
queen

,budget,company,country,director,genre,gross,film,rating,released,runtime,...,votes,writer,year,Oscar Award Count,Oscar Nominations,star avg score,Golden Globes Awards,Golden Globes Nominations,Total Nominations,Total Awards
2085,103000000,DreamWorks,USA,Ridley Scott,Action,187705427,Gladiator '00,R,12/15/95,155,...,1081122,David Franzoni,2000,0.0,0.0,7.011111,2.0,5.0,5.0,2.0