In [108]:
from sklearn import tree
import pandas as pd
import numpy as np
import os

In [109]:
# Read the csv file into a pandas DataFrame
df = pd.read_csv('Resources/clean_genre.csv')
df.head()

,Unnamed: 0,movie score,budget,gross,runtime,votes,star avg score,director avg score,writer avg score,genre avg score,rating avg score,country avg score,company avg score,Total Nominations,Total Awards
0,0,7.1,30000000,31743332,79,117268,6.864286,7.100000,7.100000,6.746931,6.254035,6.216790,6.839474,2.0,0.0
1,1,6.8,35000000,81159365,123,201705,6.875000,5.957143,6.200000,6.756322,6.254035,6.216790,6.315741,1.0,0.0
2,2,5.0,1500000,779820,102,11945,5.900000,5.666667,5.666667,5.687004,6.453213,6.660602,5.000000,1.0,0.0
3,3,7.5,40000000,95001343,128,71006,7.500000,6.740000,6.630000,7.040390,6.254035,6.216790,6.384354,1.0,0.0
4,4,5.8,13000000,16574731,93,28791,6.440000,5.800000,5.800000,6.715720,6.453213,6.216790,5.800000,1.0,0.0

In [110]:
df = df.rename(columns = {"Total Awards":"Award"})

df['Award'].loc[df['Award'] >= 2] = 1

df.head(10)

,Unnamed: 0,movie score,budget,gross,runtime,votes,star avg score,director avg score,writer avg score,genre avg score,rating avg score,country avg score,company avg score,Total Nominations,Award
0,0,7.1,30000000,31743332,79,117268,6.864286,7.100000,7.100000,6.746931,6.254035,6.216790,6.839474,2.0,0.0
1,1,6.8,35000000,81159365,123,201705,6.875000,5.957143,6.200000,6.756322,6.254035,6.216790,6.315741,1.0,0.0
2,2,5.0,1500000,779820,102,11945,5.900000,5.666667,5.666667,5.687004,6.453213,6.660602,5.000000,1.0,0.0
3,3,7.5,40000000,95001343,128,71006,7.500000,6.740000,6.630000,7.040390,6.254035,6.216790,6.384354,1.0,0.0
4,4,5.8,13000000,16574731,93,28791,6.440000,5.800000,5.800000,6.715720,6.453213,6.216790,5.800000,1.0,0.0
5,5,7.7,65000000,210614939,117,648211,6.530000,7.057143,6.666667,6.106086,6.453213,6.216790,6.384354,1.0,0.0
6,6,6.2,0,99603,110,14114,6.610000,7.250000,7.225000,6.715720,6.453213,6.660602,6.796296,1.0,0.0
7,7,6.8,25000000,71985628,104,226504,6.615385,6.780000,6.800000,5.687004,6.254035,6.216790,5.726316,1.0,0.0
8,8,5.8,0,5979011,95,3154,7.029412,5.800000,5.750000,6.715720,6.453213,6.216790,5.340000,1.0,0.0
9,9,5.8,200000000,166112167,158,303766,6.615385,6.227273,5.766667,6.106086,6.254035,6.216790,6.315741,1.0,0.0

In [111]:
clean = df[['Award','movie score', 'budget', 'gross','runtime', 'votes','star avg score', 'director avg score','writer avg score','genre avg score', 'company avg score', 'country avg score']]
clean.head(3)

,Award,movie score,budget,gross,runtime,votes,star avg score,director avg score,writer avg score,genre avg score,company avg score,country avg score
0,0.0,7.1,30000000,31743332,79,117268,6.864286,7.100000,7.100000,6.746931,6.839474,6.216790
1,0.0,6.8,35000000,81159365,123,201705,6.875000,5.957143,6.200000,6.756322,6.315741,6.216790
2,0.0,5.0,1500000,779820,102,11945,5.900000,5.666667,5.666667,5.687004,5.000000,6.660602

In [112]:
data = clean.drop('Award', axis=1)
feature_names = data.columns
data.head()

,movie score,budget,gross,runtime,votes,star avg score,director avg score,writer avg score,genre avg score,company avg score,country avg score
0,7.1,30000000,31743332,79,117268,6.864286,7.100000,7.100000,6.746931,6.839474,6.216790
1,6.8,35000000,81159365,123,201705,6.875000,5.957143,6.200000,6.756322,6.315741,6.216790
2,5.0,1500000,779820,102,11945,5.900000,5.666667,5.666667,5.687004,5.000000,6.660602
3,7.5,40000000,95001343,128,71006,7.500000,6.740000,6.630000,7.040390,6.384354,6.216790
4,5.8,13000000,16574731,93,28791,6.440000,5.800000,5.800000,6.715720,5.800000,6.216790

In [113]:
target = clean['Award']
target_names = ["No", "Yes"]

In [114]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [115]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9155425219941349

In [116]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.950733137829912

In [117]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.15105729435461057, 'gross'),
 (0.13552184250935964, 'votes'),
 (0.11011256964295886, 'movie score'),
 (0.09344800144504131, 'writer avg score'),
 (0.09191149048438543, 'director avg score'),
 (0.09094835593589956, 'runtime'),
 (0.08800426472565206, 'budget'),
 (0.08158439157937696, 'star avg score'),
 (0.07860529990548529, 'company avg score'),
 (0.05423887684783005, 'genre avg score'),
 (0.024567612569400234, 'country avg score')]